*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background: url('../../assets/img/background.jpg') no-repeat center center fixed;
}
main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.forcolor{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
}
.alert-success{
    width: 30%;
    background-color: #D4EDDA;
    color: #155724;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    transition: 0.5s ease-in-out;
    left: 35%;
    animation: anm 4s;
    z-index: 100;
    top: -8%;
}

.alert-danger{
    width: 30%;
    background-color: #F8D7DA;
    color: #721c24;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    left: 35%;
    animation: anm;
}
@keyframes anm{
    0%{
        top:-8%
        
    }
    50%{
        top: 0%;
    }
    75%{
        top: 0%;
    }
    100%{
        top:-10%;
    }
}